.projectApprovalSection {
    margin-top: 20px;
}

.projectApprovalButton {
    background-color: #94989c;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.projectApprovalButton:hover {
    background-color: #5a5d5f;
}

.approvalStatus {
    display: flex;
    align-items: stretch;
    gap: 40px; /* 섹션 간 간격 */
    margin-top: 20px;
  }

.waitingForApprovalProjects, .approvedOngoingProjects {
    flex: 1;
}

.waitingForApprovalProjects ul, .approvedOngoingProjects ul {
    list-style: none;
    padding: 0;
}

.waitingForApprovalProjects li, .approvedOngoingProjects li {
    margin-bottom: 10px;
}

.divider {
    width: 1px;
    background-color: #ddd;
    align-self: stretch;
}

h4 {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
}