/* MainPage 스타일 */
.erpManagementPage {
    font-family: Arial, sans-serif;
}

/* 레이아웃 구성 */
.erpManagementContent {
    display: flex; /* 수평 정렬 */
    justify-content: space-between; /* 콘텐츠 사이에 여백 */
    align-items: flex-start; /* 상단 정렬 */
    padding: 20px; /* 외부 여백 */
}