.sidebar-separator {
    border-bottom: 1px solid #ddd;
    margin-top: 10px;
    margin-bottom: 20px;
}

.projectApprovalPage {
    display: flex;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
  }
  
  .sidebar {
    width: 380px; /* 좌측바 고정 너비 설정 */
    background-color: #f4f4f4;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow-x: auto; /* 좌우 스크롤 활성화 */
    overflow-y: auto; /* 세로 스크롤 활성화 */
    height: 100%; /* 높이를 100%로 설정하여 상하스크롤 가능 */
    box-sizing: border-box;
  }
  
  .buttonContainer {
    display: flex;
    flex-direction: row; /* 버튼을 좌우로 나열 */
    justify-content: space-between; /* 버튼 간격 조정 */
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 3px;
  }
  
  .viewButton {
    background-color: #aaaaaa !important;
    border: none;
    padding: 8px 16px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    flex-grow: 1;
    text-align: center;
  }
  
  .viewButton.active {
    background-color: #4c4c4c !important;
    color: white;
  }
  
  .projectList {
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* 프로젝트 목록이 많아지면 상하 스크롤 */
  }
  
  .projectItem {
    display: flex; /* flex로 변경하여 기본 레이아웃 유지 */
    text-align: left; /* 텍스트 왼쪽 정렬 */
    align-items: center; /* 세로로 가운데 정렬 */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    white-space: nowrap; /* 긴 프로젝트 이름이 잘리지 않게 함 */
    overflow: hidden; /* 긴 텍스트 잘리지 않도록 숨김 처리 */
    text-overflow: ellipsis; /* 긴 텍스트가 넘어갈 경우 "..."로 처리 */
    color: black !important; /* 글씨 색을 검은색으로 설정 */
  }
  
  
  /* 결재완료된 프로젝트 배경 */
  .projectItem.approved {
    background-color: rgba(76, 175, 80, 0.3); /* 기본 배경색 */
  }
  
  /* 결재미완료된 프로젝트 배경 */
  .projectItem.unapproved {
    background-color: rgba(255, 87, 34, 0.3); /* 기본 배경색 */
  }
  
  /* hover 시 배경색을 더 진하게 만들기 */
  .projectItem:hover {
    background-color: rgba(76, 175, 80, 0.7) !important; /* approved 시 hover 시 진해짐 */
  }
  
  .projectItem.unapproved:hover {
    background-color: rgba(255, 87, 34, 0.7) !important; /* unapproved 시 hover 시 진해짐 */
  }
  
  /* 선택된 프로젝트 (클릭 시) 배경색을 진하게 유지 */
  .projectItem.selected.approved {
    background-color: rgba(76, 175, 80, 0.7) !important; /* 클릭 후 진해짐 */
  }
  
  .projectItem.selected.unapproved {
    background-color: rgba(255, 87, 34, 0.7) !important; /* 클릭 후 진해짐 */
  }
  
  .workspace {
    width: calc(100% - 250px); /* 우측 작업공간이 좌측바의 너비를 제외한 영역을 차지하도록 설정 */
    padding: 20px;
    background-color: #fff;
    border-left: 1px solid #ddd;
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: auto; /* 내용이 넘치면 상하 스크롤 활성화 */
  }
  
  
  
  
  